body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: #0A0C10;


}


@media(min-width: 768px) {

    /*Log-in | Register*/
    .Login-Logo {
        display: flex;
        width: 100%;

    }

    .logo-container {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 50vw;
        height: 57vh;
    }

    .form {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 10vw;


    }

    .logo {
        width: 15vw;
        margin-right: 10vw;

    }

    .titleText {
        color: white;
        font-size: 1rem;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: underline;
    }

    .linkNoneStyle {
        text-decoration: none;
        color: white;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        width: 20vw;
        justify-content: center;
        align-items: center;
        background-color: #202124;
        border-radius: 10px;
        gap: 3vh;
        padding: 1em;

    }

    .container {
        margin-top: 2vh;
        width: 100%;
    }

    .inputText {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;


    }

    .inputText input {
        width: 100%;
        border-radius: 5px;
        border: 0.3px solid black;
        height: 2vw;
        background-color: #262626;
        color: white;
    }

    .inputText input:focus {
        outline: none;
    }

    .loginButton {
        width: 15vw;
        height: 2.5vw;
        font-size: 1rem;
        border-radius: 5px;
        border: 0.3px solid black;
        background-color: #1877F2;
        color: black;
        margin: 0 auto;
        cursor: pointer;
        color: white;
    }

    .registerButton {
        width: 15vw;
        height: 2.5vw;
        font-size: 1rem;
        border-radius: 5px;
        border: 0.3px solid black;
        background-color: #05b932;
        margin: 0 auto;
        cursor: pointer;
        color: white;
    }

    a {
        color: white;
        margin: 0 auto;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo_index {
        width: 15vw;
    }

    .titleDisclaimer {
        color: white;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: underline;
    }

    .disclaimer {
        color: white;
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
    }

    .disclaimerList {
        color: white;
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
    }

    li {
        margin-bottom: 2vh;
    }

    .disclaimer-datos-container {
        display: none;
        position: absolute;
        align-items: center;
        width: 100%;
        background-color: #0A0C10;

    }

    .disclaimer-expresion-container {
        display: none;
        position: absolute;
        align-items: center;
        width: 100%;
        background-color: #0A0C10;
    }

    .disclaimer-links-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .disclaimer-link {
        font-size: 0.75rem;
        color: white;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;

    }

    /*Index*/
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        height: 100vh;
        background-color: #0A0C10;
        gap: 1vw;
        border-right: 1px solid rgba(255, 255, 255, 0.301);
        padding: 10px;
        position: fixed;
        z-index: 10;
    }

    .menu_logo {
        width: 100%;
    }

    .navbar {
        width: 100%;

    }

    .menu_item {
        display: flex;
        align-items: center;
        gap: 15px;
        border-radius: 10px;
        padding-left: 5px;
        margin-bottom: 1.5vh;
        color: white;
        transition: all 0.5s;
    }

    .navbar>a {
        color: white;
        text-decoration: none;
    }

    .menu_item:hover {
        background-color: #1F2833;
    }

    #search-button {
        cursor: pointer;
    }

    .index-perfil-img {
        width: 16px;
        border-radius: 50%;
    }

    .search-bar-container {
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0px;
        background-color: #0A0C10;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        transition: 1s all;
        z-index: 5;
    }

    .search-bar {
        background-color: #262626;
        color: grey;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
        height: 2.7vh;
        width: 20vw;
    }

    .search-bar:focus {
        outline: none;
    }

    .content-container {
        width: 85%;
        background-color: #0A0C10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        color: white;
        position: absolute;
        right: 0;
        z-index: 0;

    }

    /*publicar*/


    .public-form {
        margin: 0 auto;
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2vh;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.301);
        border-radius: 10px;
        padding: 20px;

    }

    .input {
        border-radius: 5px;
        border: 0.3px solid black;
        height: 2vw;
        background-color: #262626;
        color: white;
        width: 100%;
    }

    .input-file {
        color: white;
    }

    .public-form button {
        position: absolute;
        right: 5px;
        bottom: -35px;
    }

    textarea {
        resize: none;
    }

    /*Noticias*/
    .news1 {
        background-color: #0A0C10;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .news1 p {
        width: 60%;
    }

    .news1 h2 {
        width: 60%;
    }

    .news2 {
        background-color: #1a1e27;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .news2 p {
        width: 60%;
    }

    .news2 h2 {
        width: 60%;
    }

    /*footer*/
    footer {
        color: white;
        background-color: #141414;
        width: 100%;
        height: 10vh;
        margin-top: 4vh;
        position: absolute;
        bottom: 0;

    }

    footer p {
        text-align: center;
        margin-top: 2vh;
    }
}

@media(min-width:768px) and (max-width: 1263px) {

    /*Index*/
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10%;
        height: 100vh;
        background-color: #0A0C10;
        gap: 1vw;
        border-right: 1px solid rgba(255, 255, 255, 0.301);
        padding: 10px;
        position: fixed;
    }

    .menu_logo {
        width: 100%;
    }

    .navbar {
        width: 100%;

    }

    .menu_item {
        display: flex;
        align-items: center;
        gap: 15px;
        border-radius: 10px;
        padding-left: 5px;
        margin-bottom: 1.5vh;
        color: white;
        height: 50px;
    }

    .menu_item i {
        margin: 0 auto;
    }

    .menu_item img {
        margin: 0 auto;
    }

    .navbar:first-child {
        color: white;
        text-decoration: none;
    }

    .menu_item:hover {
        background-color: #1F2833;
    }

    #search-button {
        cursor: pointer;
    }

    .index-perfil-img {
        width: 30px;
        border-radius: 50%;
    }

    .search-bar-container {
        width: 82%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0px;
        background-color: #0A0C10;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        transition: 1s all;
    }

    .search-bar {
        background-color: #262626;
        color: grey;
        border: none;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1vw;
    }

    .search-bar:focus {
        outline: none;
    }

    .menu_item p {
        display: none;
    }
}

@media(max-width: 768px) {
    body {
        font-size: 1rem;
        background-size: auto 100%;

    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .logo {
        width: 155px;
        margin-bottom: 2vh;

    }

    .logo_index {
        width: 200px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleText {
        color: white;
        font-size: 4vw;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: underline;
    }

    .linkNoneStyle {
        text-decoration: none;
        color: white;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        width: 60vw;
        justify-content: center;
        align-items: center;
        background-color: #202124;
        border-radius: 10px;
        gap: 3vh;
        padding: 1em;
        margin: 0 auto;

    }

    .container {
        margin-top: 2vh;
        width: 100%;
    }

    h1 {
        text-align: center;

    }

    .inputText {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;


    }

    .inputText input {
        width: 100%;
        border-radius: 5px;
        border: none;
        height: 6vw;
        background-color: #111010;
        color: white;
    }

    input:focus {
        outline: none;
    }

    .loginButton {
        width: 30vw;
        height: 5.5vw;
        font-size: 0.75rem;
        border-radius: 5px;
        border: 0.3px solid black;
        background-color: #1877F2;
        color: black;
        margin: 0 auto;
        cursor: pointer;
        color: white;
    }

    .registerButton {
        width: 30vw;
        height: 5.5vw;
        font-size: 0.75rem;
        border-radius: 5px;
        border: 0.3px solid black;
        background-color: #05b932;
        margin: 0 auto;
        cursor: pointer;
        color: white;
    }

    a {
        color: white;

    }

    .disclaimer-datos-container {
        display: none;
        position: absolute;
        align-items: center;
        width: 100%;
        background-color: #0A0C10;

    }

    .disclaimer-expresion-container {
        display: none;
        position: absolute;
        align-items: center;
        width: 100%;
        background-color: #0A0C10;
    }

    .titleDisclaimer {
        color: white;
        font-size: 2rem;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: underline;
        margin-top: 10vh;
    }

    .disclaimer {
        color: white;
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;

    }

    .disclaimerList {
        color: white;
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
    }

    .disclaimer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #0A0C10;

    }

    .container-all-log {
        height: 85vh;
    }

    /*Index*/
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #0A0C10;
    }

    .menu_logo {
        width: 100%;
        display: none;
    }

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10vw;
        border-top: 1px solid rgba(255, 255, 255, 0.301);
    }

    .menu_item {
        display: flex;
        align-items: center;
        gap: 15px;
        border-radius: 10px;
        padding-left: 5px;
        margin-bottom: 1.5vh;
        color: white;
        height: 50px;

    }

    .navbar>a {
        color: white;
        text-decoration: none;
    }

    #search-button {
        cursor: pointer;
    }

    .index-perfil-img {
        width: 30px;
        border-radius: 50%;
    }

    .search-bar-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0vh;
        background-color: #0A0C10;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        transition: 1s all;
    }

    .search-bar {
        background-color: #262626;
        color: grey;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
    }

    .search-bar:focus {
        outline: none;
    }

    .menu_item p {
        display: none;
    }


    footer {
        color: white;
        background-color: #141414;
        width: 100%;
        height: 10vh;
        margin-top: 4vh;
        --position: absolute;
        bottom: 0;

    }

    footer p {
        text-align: center;
        margin-top: 2vh;
    }

    li {
        margin-bottom: 2vh;
    }

    .disclaimer-links-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .disclaimer-link {
        font-size: 0.75rem;
        color: white;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;

    }
}